streamlit==1.50.0
pandas==2.3.3
pypdf>=4.2.0
python-dotenv
openai>=1.55.0
anthropic>=0.33.0
google-generativeai>=0.8.5
huggingface-hub>=0.24.0
laiser==0.3.12
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl
